<sup>This notebook is adapted from https://github.com/data-8/data8assets and licensed for reuse under [Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)](http://creativecommons.org/licenses/by-nc/4.0/).</sup>

# Lab 1c: Tables

Welcome to Lab 1c!  

In this exercise, we'll learn about *tables* -- Pandas `DataFrame` objects -- which let us work with multiple arrays of data about the same things.  

First, set up the imports by running the cell below.

In [1]:
import numpy as np
import pandas as pd

## 1. Introduction

For a collection of things in the world, an array is useful for describing a single attribute of each thing. For example, among the collection of US States, an array could describe the land area of each. Tables extend this idea by describing multiple attributes for each element of a collection.

In most data science applications, we have data about many entities, but we also have several kinds of data about each entity.

For example, in the cell below we have two arrays. The first one contains the world population in each year (as [estimated](http://www.census.gov/population/international/data/worldpop/table_population.php) by the US Census Bureau), and the second contains the years themselves (in order, so the first elements in the population and the years arrays correspond).

In [3]:
population_amounts = np.array(pd.read_csv("world_population.csv")["Population"])
years = np.arange(1950, 2015+1)
print("Population column:", population_amounts)
print("Years column:", years)

Population column: [2557628654 2594939877 2636772306 2682053389 2730228104 2782098943
 2835299673 2891349717 2948137248 3000716593 3043001508 3083966929
 3140093217 3209827882 3281201306 3350425793 3420677923 3490333715
 3562313822 3637159050 3712697742 3790326948 3866568653 3942096442
 4016608813 4089083233 4160185010 4232084578 4304105753 4379013942
 4451362735 4534410125 4614566561 4695736743 4774569391 4856462699
 4940571232 5027200492 5114557167 5201440110 5288955934 5371585922
 5456136278 5538268316 5618682132 5699202985 5779440593 5857972543
 5935213248 6012074922 6088571383 6165219247 6242016348 6318590956
 6395699509 6473044732 6551263534 6629913759 6709049780 6788214394
 6866332358 6944055583 7022349283 7101027895 7178722893 7256490011]
Years column: [1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963
 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977
 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]

Suppose we want to answer this question:

> When did world population cross 6 billion?

You could technically answer this question just from staring at the arrays, but it's a bit convoluted, since you would have to count the position where the population first crossed 6 billion, then find the corresponding element in the years array. In cases like these, it might be easier to put the data into a *`DataFrame`*, a 2-dimensional type of dataset. 

The expression below:

- creates an table using the expression `pd.DataFrame()`,
- adds two columns by providing a dictionary 
    - with the keys as the strings `Population` and `Year`,
    - with the values as the variables `population_amounts` and `years`
- evaluates `population` so that we can see the table.

The strings `"Year"` and `"Population"` are column labels that we have chosen. Ther names `population_amounts` and `years` were assigned above to two arrays of the same length. You can find the documentation on how to create `DataFrame` objects [here](https://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe).

In [4]:
population = pd.DataFrame({
    "Population": population_amounts,
    "Year": years
    }
)
population

    Population  Year
0   2557628654  1950
1   2594939877  1951
2   2636772306  1952
3   2682053389  1953
4   2730228104  1954
..         ...   ...
61  6944055583  2011
62  7022349283  2012
63  7101027895  2013
64  7178722893  2014
65  7256490011  2015

[66 rows x 2 columns]

Now the data are all together in a single table! It's much easier to parse this data--if you need to know what the population was in 1959, for example, you can tell from a single glance. We'll revisit this table later.

## 2. Creating Tables

**Question 2.1.** In the cell below, we've created 2 arrays. Using the steps above, assign `top_10_movies` to a table that has two columns called "Rating" and "Name", which hold `top_10_movie_ratings` and `top_10_movie_names` respectively.

In [11]:
top_10_movie_ratings = np.array([9.2, 9.2, 9., 8.9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.8])
top_10_movie_names = np.array([
        'The Shawshank Redemption (1994)',
        'The Godfather (1972)',
        'The Godfather: Part II (1974)',
        'Pulp Fiction (1994)',
        "Schindler's List (1993)",
        'The Lord of the Rings: The Return of the King (2003)',
        '12 Angry Men (1957)',
        'The Dark Knight (2008)',
        'Il buono, il brutto, il cattivo (1966)',
        'The Lord of the Rings: The Fellowship of the Ring (2001)'])

top_10_movies = pd.DataFrame({'Rating': top_10_movie_ratings, 'Name': top_10_movie_names})
# We've put this next line here so your table will get printed out when you
# run this cell.
top_10_movies

   Rating                                               Name
0     9.2                    The Shawshank Redemption (1994)
1     9.2                               The Godfather (1972)
2     9.0                      The Godfather: Part II (1974)
3     8.9                                Pulp Fiction (1994)
4     8.9                            Schindler's List (1993)
5     8.9  The Lord of the Rings: The Return of the King ...
6     8.9                                12 Angry Men (1957)
7     8.9                             The Dark Knight (2008)
8     8.9             Il buono, il brutto, il cattivo (1966)
9     8.8  The Lord of the Rings: The Fellowship of the R...

#### Loading a table from a file
In most cases, we aren't going to go through the trouble of typing in all the data manually. Instead, we can use our `pandas` or `pd` functions.

`pd.read_csv` takes one argument, a path to a data file (a string) and returns a `DataFrame`.  There are many formats for data files, but CSV ("comma-separated values") is the most common.

**Question 2.2.** The file `imdb.csv` contains a table of information about the 250 highest-rated movies on IMDb.  Load it as a table called `imdb`.

In [12]:
imdb = pd.read_csv('imdb.csv')
imdb

       Votes  Rating                                  Title  Year  Decade
0      88355     8.4                                      M  1931    1930
1     132823     8.3                    Singin' in the Rain  1952    1950
2      74178     8.3                          All About Eve  1950    1950
3     635139     8.6                                   LÃ©on  1994    1990
4     145514     8.2                       The Elephant Man  1980    1980
..       ...     ...                                    ...   ...     ...
245  1078416     8.7                           Forrest Gump  1994    1990
246    31003     8.1                  Le salaire de la peur  1953    1950
247   167076     8.2                               3 Idiots  2009    2000
248    91689     8.1                                Network  1976    1970
249   589477     8.3  Eternal Sunshine of the Spotless Mind  2004    2000

[250 rows x 5 columns]

Notice the part about "... (240 rows omitted)."  This table is big enough that only a few of its rows are displayed, but the others are still there.  10 are shown, so there are 250 movies total.

Where did `imdb.csv` come from? Take a look at [this exercise's folder](./). You should see a file called `imdb.csv`.

Open up the `imdb.csv` file in that folder and look at the format. What do you notice? The `.csv` filename ending says that this file is in the [CSV (comma-separated value) format](http://edoceo.com/utilitas/csv-file-format).

## 3. Using lists

A *list* is another Python sequence type, similar to an array. It's different than an array because the values it contains can all have different types. A single list can contain `int` values, `float` values, and strings. Elements in a list can even be other lists! A list is created by giving a name to the list of values enclosed in square brackets and separated by commas. For example, `values_with_different_types = ['p', 4, ['ds', 'ex' 8]]`

Lists can be useful when working with tables because they can describe the contents of one row in a table, which often  corresponds to a sequence of values with different types. A list of lists can be used to describe multiple rows.

Each column in a table is a collection of values with the same type (an array). If you create a table column from a list, it will automatically be converted to an array. A row, on the ther hand, mixes types.

Here's a simple table about flowers. (Run the cell below.)

In [16]:
# Run this cell to recreate the table
import pandas as pd
import numpy as np
flowers = pd.DataFrame({
    'Number of petals': np.array([8, 34, 5]),
    'Name': np.array(['lotus', 'sunflower', 'rose'])
})
flowers

   Number of petals       Name
0                 8      lotus
1                34  sunflower
2                 5       rose

**Question 3.1.** Create a list that describes a new fourth row of this table. The details can be whatever you want, but the list must contain two values: the number of petals (an `int` value) and the name of the flower (a string). How about the "pondweed"? Its flowers have zero petals.

In [24]:
my_flower = ['pondweed', 0]
my_flower

['pondweed', 0]

**Question 3.2.** `my_flower` fits right in to the `flowers` table. Complete the cell below to create a table of seven flowers that includes your flower as the fourth row followed by `other_flowers`. You can use `.loc[ ... ]` to add one extra row by passing a `np.array` with a list of values (in this case `my_flower`) corresponding to a new row.

In [25]:
# Use the indexer method .loc[<index>] to add a row to the flowers table
flowers.loc[3] = my_flower[::-1]
flowers

  Number of petals       Name
0                8      lotus
1               34  sunflower
2                5       rose
3                0   pondweed

## 4. Analyzing datasets
With just a few table methods, we can answer some interesting questions about the IMDb dataset.

If we want just the ratings of the movies, we can get an array that contains the data in that column:

In [26]:
imdb["Rating"]

0      8.4
1      8.3
2      8.3
3      8.6
4      8.2
      ...
245    8.7
246    8.1
247    8.2
248    8.1
249    8.3
Name: Rating, Length: 250, dtype: float64

The value of that expression is an array, exactly the same kind of thing you'd get if you typed in `np.array([8.4, 8.3, 8.3, ... ])`.

**Question 4.1.** Find the rating of the highest-rated movie in the dataset.

*Hint:* Think back to the functions you've learned about for working with arrays of numbers.  Ask for help if you can't remember one that's useful for this.

In [27]:
highest_rating = max(imdb["Rating"])
highest_rating

9.2

That's not very useful, though.  You'd probably want to know the *name* of the movie whose rating you found!  To do that, we can sort the entire table by rating, which ensures that the ratings and titles will stay together.

In [34]:
#np.sort(imdb["Rating"])
#imdb["Rating"].sort_values(ascending=False)
imdb.sort_values(by=['Rating'], ascending=False)

       Votes  Rating                                   Title  Year  Decade
22   1027398     9.2                           The Godfather  1972    1970
53   1498733     9.2                The Shawshank Redemption  1994    1990
91    692753     9.0                  The Godfather: Part II  1974    1970
105   384187     8.9                            12 Angry Men  1957    1950
57    447875     8.9  Il buono, il brutto, il cattivo (1966)  1966    1960
..       ...     ...                                     ...   ...     ...
168   500576     8.0                   Monsters, Inc. (2001)  2001    2000
166    59578     8.0                           The Big Sleep  1946    1940
46    427099     8.0              X-Men: Days of Future Past  2014    2010
51     87437     8.0                           Roman Holiday  1953    1950
125    26012     8.0                             Kumonosu-jÃ´  1957    1950

[250 rows x 5 columns]

Well, that actually doesn't help much, either -- we sorted the movies from lowest -> highest ratings.  To look at the highest-rated movies, sort in reverse order:

In [35]:
imdb.sort_values(by='Rating', ascending=False)

       Votes  Rating                                   Title  Year  Decade
22   1027398     9.2                           The Godfather  1972    1970
53   1498733     9.2                The Shawshank Redemption  1994    1990
91    692753     9.0                  The Godfather: Part II  1974    1970
105   384187     8.9                            12 Angry Men  1957    1950
57    447875     8.9  Il buono, il brutto, il cattivo (1966)  1966    1960
..       ...     ...                                     ...   ...     ...
168   500576     8.0                   Monsters, Inc. (2001)  2001    2000
166    59578     8.0                           The Big Sleep  1946    1940
46    427099     8.0              X-Men: Days of Future Past  2014    2010
51     87437     8.0                           Roman Holiday  1953    1950
125    26012     8.0                             Kumonosu-jÃ´  1957    1950

[250 rows x 5 columns]

(The `ascending=False` bit is called an *optional argument*. It has a default value of `True`, so when you explicitly tell the function `ascending=False`, then the function will sort in descending order.)

So there are actually 2 highest-rated movies in the dataset: *The Shawshank Redemption* and *The Godfather*.

Some details about sort:

1. The first argument to `sort_values` is the name of a column to sort by.
2. If the column has strings in it, `sort_values` will sort alphabetically; if the column has numbers, it will sort numerically.
3. The value of `imdb.sort_values(by="Rating")` is a *copy of `imdb`*; the `imdb` table doesn't get modified. For example, if we called `imdb.sort_values(by="Rating")`, then running `imdb` by itself would still return the unsorted table.
4. Rows always stick together when a table is sorted.  It wouldn't make sense to sort just one column and leave the other columns alone.  For example, in this case, if we sorted just the "Rating" column, the movies would all end up with the wrong ratings.

**Question 4.2.** Create a version of `imdb` that's sorted chronologically, with the earliest movies first.  Call it `imdb_by_year`.

In [47]:
imdb_by_year = imdb.sort_values(by='Year')
imdb_by_year

      Votes  Rating                     Title  Year  Decade
173   55784     8.3                   The Kid  1921    1920
205   58506     8.2             The Gold Rush  1925    1920
146   46332     8.2               The General  1926    1920
49    98794     8.3                Metropolis  1927    1920
0     88355     8.4                         M  1931    1930
..      ...     ...                       ...   ...     ...
100  369141     8.1  The Grand Budapest Hotel  2014    2010
9     46987     8.0          Relatos salvajes  2014    2010
70   689541     8.6              Interstellar  2014    2010
233  262425     8.3        Mad Max: Fury Road  2015    2010
41    79615     8.5       Inside Out (2015/I)  2015    2010

[250 rows x 5 columns]

**Question 4.3.** What's the title of the earliest movie in the dataset?  You could just look this up from the output of the previous cell.  Instead, write Python code to find out.

*Hint:* Starting with `imdb_by_year`, extract the Title column to get an array, then use `item` to get its first item.

In [48]:
earliest_movie_title = imdb_by_year.iloc[0].Title
earliest_movie_title

'The Kid'

## 5. Finding pieces of a dataset
Suppose you're interested in movies from the 1940s.  Sorting the table by year doesn't help you, because the 1940s are in the middle of the dataset.

Instead, we use the data frame method `query`.

In [98]:
forties = imdb.query("Decade==1940")
forties

      Votes  Rating                             Title  Year  Decade
21    55793     8.1               The Grapes of Wrath  1940    1940
50    86715     8.3                  Double Indemnity  1944    1940
72   101754     8.1                The Maltese Falcon  1941    1940
75    71003     8.3  The Treasure of the Sierra Madre  1948    1940
102   35983     8.1       The Best Years of Our Lives  1946    1940
118   81887     8.3               Ladri di biciclette  1948    1940
120   66622     8.0                         Notorious  1946    1940
158  350551     8.5                        Casablanca  1942    1940
166   59578     8.0                     The Big Sleep  1946    1940
167   78216     8.2                           Rebecca  1940    1940
213  242353     8.6             It's a Wonderful Life  1946    1940
215  101785     8.3                     The Third Man  1949    1940
240  117590     8.4                The Great Dictator  1940    1940
243  268905     8.4                      Citizen Kane  1941    1940

Ignore the syntax for the moment.  Instead, try to read that line like this:

> Assign the name **`forties`** to a table whose rows are the rows in the **`imdb`** table where the **`'Decade'`**s **`are` `equal` `to` `1940`**.

**Question 5.1.** Compute the average rating of movies from the 1940s.

*Hint:* The function `np.average` computes the average of an array of numbers.

In [43]:
average_rating_in_forties = np.average(forties.Rating)
average_rating_in_forties

8.257142857142856

Now let's dive into the details a bit more.  `query` takes 1 argument, a string describing a 2 part predicate:

1. The name of a column.  `query` finds rows where that column's values meet some criterion.
2. Something that describes the criterion that the column needs to meet, called a predicate.

To create our predicate, we called use the binary boolean operator `==` with the value we wanted, 1940.  We'll see other predicates soon.

`query` returns a table that's a copy of the original table, but with only the rows that meet the given predicate.

**Question 5.2.** Create a table called `ninety_nine` containing the movies that came out in the year 1999.  Use `query`.

In [97]:
#twentieth = imdb.query("Decade==2000")
ninety_nine = imdb.query("Decade==1999")
ninety_nine

Empty DataFrame
Columns: [Votes, Rating, Title, Year, Decade]
Index: []

So far we've only been finding where a column is *exactly* equal to a certain value. However, there are many other predicates.  Here are a few:

|Predicate|Example|Result|
|-|-|-|
|`<column> == n`|`Column_Name == 50`|Find rows with values equal to 50|
|`<column> != n`|`Column_Name != 50"`|Find rows with values not equal to 50|
|`<column> > n`|`Column_Name > 50`|Find rows with values above (and not equal to) 50|
|`<column> >= n`|`Column_Name >= 50`|Find rows with values above 50 or equal to 50|
|`<column> < n`|`Column_Name < 50`|Find rows with values below 50|
|`n <= <column> < n`|`2 <= Column_Name < 10`|Find rows with values above or equal to 2 and below 10|

The `pandas` documentation section on [Indexing and Selecting Data](https://pandas.pydata.org/pandas-docs/stable/indexing.html) has more examples.

**Question 5.3.** Using `where` and one of the predicates from the table above, find all the movies with a rating higher than 8.5.  Put their data in a table called `really_highly_rated`.

In [70]:
#really_highly_rated = imdb.loc[imdb.Rating > 8.5]
really_highly_rated = imdb.where(imdb.Rating > 8.5)
really_highly_rated = really_highly_rated.dropna(axis=0)
really_highly_rated

,Votes,Rating,Title,Year,Decade
3,635139.0,8.6,LÃ©on,1994.0,1990.0
22,1027398.0,9.2,The Godfather,1972.0,1970.0
47,767224.0,8.6,The Silence of the Lambs,1991.0,1990.0
53,1498733.0,9.2,The Shawshank Redemption,1994.0,1990.0
57,447875.0,8.9,"Il buono, il brutto, il cattivo (1966)",1966.0,1960.0
68,967389.0,8.7,The Lord of the Rings: The Two Towers,2002.0,2000.0
70,689541.0,8.6,Interstellar,2014.0,2010.0
76,1473049.0,8.9,The Dark Knight,2008.0,2000.0
78,192206.0,8.6,C'era una volta il West,1968.0,1960.0
81,1271949.0,8.7,Inception,2010.0,2010.0
87,1177098.0,8.8,Fight Club,1999.0,1990.0
91,692753.0,9.0,The Godfather: Part II,1974.0,1970.0
96,656756.0,8.6,The Usual Suspects,1995.0,1990.0
98,206216.0,8.7,Shichinin no samurai,1954.0,1950.0
103,644556.0,8.7,Goodfellas,1990.0,1990.0
105,384187.0,8.9,12 Angry Men,1957.0,1950.0
129,1073043.0,8.7,The Matrix,1999.0,1990.0
141,1074146.0,8.9,The Lord of the Rings: The Return of the King,2003.0,2000.0
147,761224.0,8.9,Schindler's List,1993.0,1990.0
156,700283.0,8.7,Star Wars: Episode V - The Empire Strikes Back,1980.0,1980.0
169,895411.0,8.6,Se7en,1995.0,1990.0
178,1099087.0,8.8,The Lord of the Rings: The Fellowship of the Ring,2001.0,2000.0
189,770011.0,8.7,Star Wars,1977.0,1970.0
204,358305.0,8.6,La vita Ã¨ bella,1997.0,1990.0
213,242353.0,8.6,It's a Wonderful Life,1946.0,1940.0
223,606395.0,8.7,One Flew Over the Cuckoo's Nest,1975.0,1970.0
224,1166532.0,8.9,Pulp Fiction,1994.0,1990.0
242,476501.0,8.6,Cidade de Deus,2002.0,2000.0
245,1078416.0,8.7,Forrest Gump,1994.0,1990.0

**Question 5.4.** Find the average rating for movies released in the 20th century and the average rating for movies released in the 21st century for the movies in `imdb`.

*Hint*: Think of the steps you need to do (take the average, find the ratings, find movies released in 20th/21st centuries), and try to put them in an order that makes sense.

In [81]:
#imdb.loc[((imdb.Year >= 1900) & (imdb.Year < 2000))]
imdb.loc[imdb.Year >= 2000]

      Votes  Rating                                  Title  Year  Decade
6    441174     8.1                              Gone Girl  2014    2010
7    850601     8.3                          Batman Begins  2005    2000
9     46987     8.0                       Relatos salvajes  2014    2010
11   502773     8.2                            Gran Torino  2008    2000
13   755013     8.3                   Inglourious Basterds  2009    2000
..      ...     ...                                    ...   ...     ...
234  311070     8.4                               Oldeuboi  2003    2000
239  424957     8.1                    Million Dollar Baby  2004    2000
242  476501     8.6                         Cidade de Deus  2002    2000
247  167076     8.2                               3 Idiots  2009    2000
249  589477     8.3  Eternal Sunshine of the Spotless Mind  2004    2000

[79 rows x 5 columns]

In [82]:
average_20th_century_rating = np.average(imdb.loc[((imdb.Decade >= 1900) & (imdb.Decade < 2000))].Rating)
average_21st_century_rating = np.average(imdb.loc[imdb.Decade >= 2000].Rating)
print("Average 20th century rating:", average_20th_century_rating)
print("Average 21st century rating:", average_21st_century_rating)

Average 20th century rating: 8.278362573099415
Average 21st century rating: 8.237974683544303

The property `size` tells you how many rows are in a table.  (A "property" is just a method that doesn't need to be called by adding parentheses.)

In [105]:
num_movies_in_dataset = imdb.size
print(f"imdb.size: {num_movies_in_dataset}")

# Amount of rows:
num_movies_in_dataset = imdb.shape[0]
print(f"imdb.shape[0] (rows): {num_movies_in_dataset}")

imdb.size: 1250
imdb.shape[0] (rows): 250

**Question 5.5.** Use `num_rows` (and arithmetic) to find the *proportion* of movies in the dataset that were released in the 20th century, and the proportion from the 21st century.

*Hint:* The *proportion* of movies released in the 20th century is the *number* of movies released in the 20th century, divided by the *total number* of movies.

In [106]:
proportion_in_20th_century = imdb.loc[imdb.Decade < 2000].shape[0] / num_movies_in_dataset
proportion_in_21st_century = imdb.loc[imdb.Decade >= 2000].shape[0] / num_movies_in_dataset
# This also works... if num_movies_in_dataset = imdb.size
#proportion_in_20th_century = imdb.loc[imdb.Decade < 2000].size / num_movies_in_dataset
#proportion_in_21st_century = imdb.loc[imdb.Decade >= 2000].size / num_movies_in_dataset
print("Proportion in 20th century:", proportion_in_20th_century)
print("Proportion in 21st century:", proportion_in_21st_century)

Proportion in 20th century: 0.684
Proportion in 21st century: 0.316

**Question 5.6.** Here's a challenge: Find the number of movies that came out in *even* years.

*Hint:* The operator `%` computes the remainder when dividing by a number.  So `5 % 2` is 1 and `6 % 2` is 0.  A number is even if the remainder is 0 when you divide by 2.

*Hint 2:* `%` can be used on arrays, operating elementwise like `+` or `*`.  So `np.array([5, 6, 7]) % 2` is `array([1, 0, 1])`.

*Hint 3:* Create a column called "Year Remainder" that's the remainder when each movie's release year is divided by 2.  Make a copy of `imdb` that includes that column.  Then use `where` to find rows where that new column is equal to 0.  Then use `num_rows` to count the number of such rows.

In [119]:
num_even_year_movies = imdb.loc[imdb.Year % 2 == 0].shape[0]
num_even_year_movies

127

**Question 5.7.** Check out the `population` table from the introduction to this exercise.  Compute the year when the world population first went above 6 billion.

In [122]:
year_population_crossed_6_billion = population.loc[population.Population >= 6000000000].iloc[0]
year_population_crossed_6_billion

Population    6012074922
Year                1999
Name: 49, dtype: int64

## 7. Other useful methods

There are a lot more `pandas` methods that may be useful and you can read the documentation online [here]().

In particular, these sections may be of use:
* [Working with missing data](https://pandas.pydata.org/pandas-docs/stable/missing_data.html)
* [Working with text data](https://pandas.pydata.org/pandas-docs/stable/text.html) in Pandas 
* [Grouping data](https://pandas.pydata.org/pandas-docs/stable/text.html)
* [Merge, join, and concatenate](https://pandas.pydata.org/pandas-docs/stable/merging.html) on `DataFrames`
* **Automatically** generate summary statistics on a `DataFrame` with [describe()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) and [info()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.info.html)

You're done with Lab 1c (and hopefully you did 1b and 1a too)!

Choose **Save and Checkpoint** from the **File** menu to save your work.

If you are running the labs in Binder (on the cloud), then choose **Download as Notebook** and save it to your computer. 

Now *ZIP* all three Lab 1 notebooks together into one file and [upload it to Studium](https://uppsala.instructure.com/courses/26106/assignments/37605).