In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 10 ##

## Prediction ##

In [ ]:
galton = Table.read_table('galton.csv')
heights = galton.select(3, 7).relabeled(0, 'MidParent').relabeled(1, 'Child')

In [ ]:
heights

In [ ]:
heights.scatter('MidParent', 'Child')

In [ ]:
heights.scatter('MidParent', 'Child')
plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
plots.plot([68.5, 68.5], [50, 85], color='red', lw=2);

In [ ]:
heights.where('MidParent', are.between(67.5, 68.5)).column('Child').mean()

In [ ]:
heights.scatter('MidParent', 'Child')
plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
plots.plot([68.5, 68.5], [50, 85], color='red', lw=2)
plots.scatter(68, 66.24, color='gold', s=50);

In [ ]:
def predict_child(h):
    nearby = heights.where('MidParent', are.between(h-0.5, h+0.5))
    return nearby.column('Child').mean()

In [ ]:
predict_child(68)

In [ ]:
predict_child(65)

In [ ]:
predictions = heights.apply(predict_child, 'MidParent')

In [ ]:
heights = heights.with_column('Child Prediction', predictions)

In [ ]:
heights

In [ ]:
heights.scatter(0)

## Apply with Multiple Columns ##

In [ ]:
galton

In [ ]:
# difference between each woman's height and her mother's

def difference(x, y):
    return x-y

galton.where('gender', 'female').apply(difference, 'childHeight', 'mother')

## Function with Optional Arguments ##

In [ ]:
def percents(s, places=2):
    return np.round(s/sum(s) * 100, places)

In [ ]:
x = make_array(2, 5, 16)
percents(x)

In [ ]:
percents(x, 4)

## Grouping by Category ##

In [ ]:
all_cones = Table.read_table('cones.csv')

In [ ]:
cones = all_cones.drop('Color').exclude(5)
cones

In [ ]:
cones.group('Flavor')

In [ ]:
cones.group('Flavor', list)

In [ ]:
cones.group('Flavor', len)

In [ ]:
cones.group('Flavor', min)

In [ ]:
min(cones.where('Flavor', 'chocolate').column('Price'))

In [ ]:
cones.group('Flavor', np.average)

In [ ]:
def spread(x):
    return max(x) - min(x)

In [ ]:
cones.group('Flavor', spread)

In [ ]:
all_cones

In [ ]:
all_cones.group(['Flavor', 'Color'])

In [ ]:
all_cones.group(['Flavor', 'Color'], np.average)

## Examples ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
# total salary paid by each team, highest first

nba.select('TEAM', 'SALARY').group('TEAM', sum).sort(1, descending=True)

In [ ]:
nba.group('TEAM', sum)

In [ ]:
# average salary paid for each position

#nba.drop(0, 2).group('POSITION', np.average)

nba.select('POSITION', 'SALARY').group('POSITION', np.average)

In [ ]:
# for each team, average salary paid for each position

nba.drop(0).group(['TEAM', 'POSITION'], np.average)

## Pivot Tables ##

In [ ]:
all_cones

In [ ]:
all_cones.group(['Flavor', 'Color'])

In [ ]:
all_cones.pivot('Flavor', 'Color')

In [ ]:
all_cones.pivot('Color', 'Flavor')

In [ ]:
all_cones.pivot('Color', 'Flavor', values = 'Price', collect = list)

## Examples ##

In [ ]:
# for each team, average salary paid for each position

nba.pivot('POSITION', 'TEAM', values = 'SALARY', collect = np.average)

In [ ]:
# for each team,
# amount paid to "starter" (player earning the most) in each position

starters = nba.pivot('POSITION', 'TEAM', values = 'SALARY', collect = max)
starters

In [ ]:
# sort teams by total amount paid to starters

totals = starters.drop(0).apply(sum)

In [ ]:
starters.with_column('TOTAL', totals).sort('TOTAL', descending=True)